<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <!-- 1.checkbox单选 -->
  <label for="license">
    <input type="checkbox" id="license" v-model="agreeLicense">同意协议
  </label>
  <button v-bind:disabled="!agreeLicense">下一步</button>
  <h2>{{agreeLicense}}</h2>
  <!-- 2.checkbox 多选 -->
  <label for="">
    <input type="checkbox" value="篮球" v-model="hobbies">篮球
  </label>
  <label for="">
    <input type="checkbox" value="足球" v-model="hobbies">足球
  </label>
  <label for="">
    <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
  </label>
  <h2>{{hobbies}}</h2>

  <label v-for="item in originHobbies" :for="item">
    <input type="checkbox" :value="item" :id="item" v-model="hobbies">{{item}}
  </label>
</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: 'template',
      agreeLicense: false,
      hobbies: [],
      originHobbies:['篮球','足球','羽毛球','乒乓球','高尔夫球','台球']
    }
  })
</script>

</body>
</html>