<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <cpn></cpn>
  <cpn>
     <template slot-scope="slot">
       <span v-for="item in slot.data">{{item}} - </span>
     </template>
  </cpn>
</div>

<template id="cpn">
  <div>
    <slot :data="pLanguages">
      <ui>
        <li v-for="item in pLanguages">{{item}}</li>
      </ui>
    </slot>
  </div>
</template>
<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: 'template'
    },
    components: {
      cpn: {
        template: '#cpn',
        data() {
          return {
            pLanguages: ['A', 'B', 'C', 'D']
          }
        }
      }
    }
  })
</script>

</body>
</html>